# ---------------------------------
# Common aliases
# ---------------------------------
alias ~='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ?='man'
alias ls='ls -GA'
alias ll='ls -GAl'

# ---------------------------------
# Git specific aliases
# ---------------------------------
alias g='git'
# Note: these aliases have been moved to .gitconfig

# ---------------------------------
# NPM :D
# ---------------------------------
# This makes life MUCH easier :')
alias nr='npm run'
alias ni='npm install'
alias nid='npm install -D'
alias nip='npm install --only=prod'

# ---------------------------------
# Python virtual env aliases
# ---------------------------------
alias act='pipenv shell'

# ---------------------------------
# Docker aliases
# ---------------------------------
alias dk='docker'
alias dc='docker container'
alias di='docker image'

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".aliases.local" ] && source ".aliases.local"
