
# Create a new directory and cd to it
# If the directory already exists, just cd to it
new () {
	if [ $# -ne 1 ]; then
		echo "Usage: new <directory to create and cd to>"
	fi
	if [ ! -d $1 ]; then
		mkdir -p $1
	fi
	cd $1
	echo "In $1"
}

# I use playgrounds to experiment with new languages and features
# without making a full fledged project
# This creates a new playground with the name given as a command line arg
# If the folder already exists, cd into it
play () {
	if [ $# -ne 1 ]; then
		cd "$PATH_TO_PLAYGROUND" && echo 'In playground'
		return
	fi

	new "$PATH_TO_PLAYGROUND/$1"
}

# Create a new project and cd into it, if already exist, cd into it
proj () {
    if [ $# -ne 1 ]; then
        cd "$PATH_TO_PROJECTS" && echo 'In projects'
        return
    fi

    new "$PATH_TO_PROJECTS/$1"
}

# Delete the local and origin branch after a PR is merged
delb () {
    if [ $# -ne 1 ]; then
	echo 'You have to provide a branch name'
	return
    fi
    
    git branch -D $1
    git push origin :$1
}

# This line imports an OS specific functions file if one exists
# Not been tested on any OS other than Mac OSX
# TODO: find a better way than uname to distinguish between linux distros
[ -f ".functions.$( uname )" ] && source ".functions.$( uname )"

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".functions.local" ] && source ".functions.local"
