[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -am
	b = branch

	ra = remote add
	po = push origin
	co = checkout
	
	pom = push origin master

[user]
	email = herecomeswaynebao0811@gmail.com
	name = Wayne Bit

[core]
    excludesfile = /Users/wbit/.gitignore_global

[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan